<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Wacker 24</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-2.2.0.min.js"></script>


</head>

<body class="body-white">
	<div id="container" align="center">
		
		<!--REGISTER_PAGE_START-->
		<section class="login_page register_page">
			<div class="page_width">
				<div class="login_inner">
					<div class="login_logo"><a href="index.html"><img src="images/register_logo.png" alt=""></a></div>
					<div class="login_box">
						<h2>Register</h2>
						<div class="gerenric_form">
							<ul>
								<li>
									<div class="tab_radio_button">
										<div class="tab_radio_col">
											<input type="radio" id="private_customer" name="customer">
											<label for="private_customer">Private customer</label>
										</div>
										<div class="tab_radio_col">
											<input type="radio" id="business_customer" name="customer" checked="">
											<label for="business_customer">Business customer</label>
										</div>
									</div>
								</li>
								<li>
									<div class="form_label">Salutation</div>
									<div class="form_field">
										<select class="gerenric_input">
											<option value="">Master</option>
											<option value="">Woman</option>
											<option value="">No</option>
										</select>
									</div>
								</li>
								<li>
									<div class="form_row">
										<div class="form_left">
											<div class="form_label">First name *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
										<div class="form_right">
											<div class="form_label">Last name *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="form_row">
										<div class="form_left">
											<div class="form_label">Password *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
										<div class="form_right">
											<div class="form_label">Repeat your password *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="form_row">
										<div class="form_left">
											<div class="form_label">E-mail address *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
										<div class="form_right">
											<div class="form_label">Phone *</div>
											<div class="form_field"><input type="text" class="gerenric_input"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="form_row">
										<div class="form_left">
											<div class="form_label">Country</div>
											<div class="form_field">
												<select class="gerenric_input">
													<option value="">Pakistan</option>
													<option value="">Pakistan</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									
									<div class="form_label">Please enter confirmation code: <span class="code_text">4678</span></div>
									<div class="form_field"><input type="text" class="gerenric_input"></div>
								</li>
								<li class="mt_30"><input type="checkbox"> I have read the privacy policy | <a href="javascript:void(0)">Privacy Policy</a></li>
								<li><button class="gerenric_btn full_btn">Register Now</button></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!--REGISTER_PAGE_END-->
		
		<!--FOOTER_SECTION_START-->
		<div id="footer_register">
			<div class="page_width">
				<ul>
					<li><a href="javascript:void(0)">Cookie Settings    </a></li>
					<li><a href="javascript:void(0)">Imprint</a></li>
					<li><a href="javascript:void(0)">Privacy & Security</a></li>
					<li><a href="javascript:void(0)">Terms & Conditions</a></li>
					<li><a href="contact_page.html">Contact</a></li>
				</ul>
			</div>
		</div>
		<!--FOOTER_SECTION_END-->

	</div>

</body>
</html>
