@font-face {
    font-family: 'Chiller';
    src: url('Chiller.woff2') format('woff2'),
        url('Chiller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

