Options +FollowSymlinks
RewriteEngine On
#RewriteBase /wacker24/
#RewriteBase /

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

RewriteRule ^kontakt/([0-9]+)?$ contact_us.php?op=$1 [L]
RewriteRule ^kontakt/?$ contact_us.php [L]
RewriteRule ^anmelden? login.php [L]
RewriteRule ^registrierung? registration.php [L]
RewriteRule ^gastbestellung? registration_as_gast.php [L]
RewriteRule ^passwortvergessen? forgot_password.php [L]
RewriteRule ^terminauswählen/([0-9]+)?$ appointment_schedule.php?as_id=$1 [L]
RewriteRule ^terminauswählen/([0-9]+)/([0-9]+)?$ appointment_schedule.php?as_id=$1&op=$2 [L]
RewriteRule ^termine? appointments.php [L]
RewriteRule ^einkaufswagen/([0-9]+)?$ cart.php?op=$1 [L]
RewriteRule ^einkaufswagen? cart.php [L]
RewriteRule ^sonderpreise/([0-9]+)?$ special_price.php?page=$1 [L]
RewriteRule ^sonderpreise? special_price.php [L]
RewriteRule ^einkaufslisten/([0-9]+)?$ shopping_list.php?op=$1 [L]
RewriteRule ^einkaufslisten? shopping_list.php [L]
RewriteRule ^benutzerprofile? personal_data.php [L]
RewriteRule ^persoenliche-angaben/([0-9]+)?$ my_data.php?op=$1 [L]
RewriteRule ^persoenliche-angaben? my_data.php [L]
RewriteRule ^adressen/([0-9]+)?$ my_address.php?op=$1 [L]
RewriteRule ^adressen? my_address.php [L]
RewriteRule ^bestätigung-der-gastbestellung? guest_order.php [L,QSA]
RewriteRule ^bestellungen/(.*)$ my_order.php?op=$1 [L,QSA]
RewriteRule ^bestellungen? my_order.php [L]
RewriteRule ^konto-vergessen-kennwort? account_forgot_password.php [L]
RewriteRule ^konto-registrierung? account_registration.php [L]
RewriteRule ^konto-bestätigung? account_verification.php [L]
RewriteRule ^nicht-verfügbar? not_available.php [L]
RewriteRule ^sitemap.xml? sitemap.php [L]
RewriteRule ^verkäufe-angebote/([0-9]+)?$ site_special_price.php?page=$1 [L]
RewriteRule ^verkäufe-angebote? site_special_price.php [L]
RewriteRule ^abmelden? logout.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\s\/]+)/?$ page.php?cnt_slug=$1 [L,QSA]
RewriteRule ^unterkategorien/(.*)?$ product_category.php?cat_params_one=$1 [L]
RewriteRule ^artikelarten/marke/([0-9]+)/([0-9]+)/(.*)/(.*)/([0-9]+)?$ products.php?page=$1&level=$2&cat_params_request=$3&manf_name_params=$4&pro_type=$5 [L]
RewriteRule ^artikelarten/marke/([0-9]+)/([0-9]+)/(.*)/(.*)?$ products.php?page=$1&level=$2&cat_params_request=$3&manf_name_params=$4 [L]
RewriteRule ^artikelarten/marke/([0-9]+)/(.*)/(.*)/([0-9]+)?$ products.php?level=$1&cat_params_request=$2&manf_name_params=$3&pro_type=$4 [L]
RewriteRule ^artikelarten/marke/([0-9]+)/(.*)/(.*)?$ products.php?level=$1&cat_params_request=$2&manf_name_params=$3 [L]

RewriteRule ^artikelarten/([0-9]+)/(.*)/(.*)/([0-9]+)?$ products.php?page=$1&cat_params_two=$2&cat_params_three=$3&pro_type=$4 [L]
RewriteRule ^artikelarten/([0-9]+)/(.*)/([0-9]+)?$ products.php?page=$1&cat_params_two=$2&pro_type=$3 [L]
RewriteRule ^artikelarten/([0-9]+)/(.*)/(.*)?$ products.php?page=$1&cat_params_two=$2&cat_params_three=$3 [L]
RewriteRule ^artikelarten/([0-9]+)/(.*)?$ products.php?page=$1&cat_params_two=$2 [L]

RewriteRule ^artikelarten/(.*)/(.*)/([0-9]+)?$ products.php?cat_params_two=$1&cat_params_three=$2&pro_type=$3 [L]
RewriteRule ^artikelarten/(.*)/([0-9]+)?$ products.php?cat_params_two=$1&pro_type=$2 [L]
RewriteRule ^artikelarten/(.*)/(.*)?$ products.php?cat_params_two=$1&cat_params_three=$2 [L]
RewriteRule ^artikelarten/(.*)?$ products.php?cat_params_two=$1 [L]
RewriteRule ^product/([A-Za-z0-9]+)/(.*)/([0-9]+)?$ product_detail.php?supplier_id=$1&op=$3 [L]
RewriteRule ^product/([A-Za-z0-9]+)/(.*)?$ product_detail.php?supplier_id=$1 [L]

# END OF RULE 1

#----------------------------------------------------------------cp:ppd
# Section managed by cPanel: Password Protected Directories     -cp:ppd
# - Do not edit this section of the htaccess file!              -cp:ppd
#----------------------------------------------------------------cp:ppd
#AuthType Basic
#AuthName "Protected 'public_html'"
#AuthUserFile "/home/wackersystems/.htpasswds/public_html/passwd"
#Require valid-user
#----------------------------------------------------------------cp:ppd
# End section managed by cPanel: Password Protected Directories -cp:ppd
#----------------------------------------------------------------cp:ppd