@font-face {
    font-family: 'Harrington';
    src: url('Harrington.woff2') format('woff2'),
        url('Harrington.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

