@font-face {
    font-family: 'Palatino';
    src: url('Palatino-Roman.woff2') format('woff2'),
        url('Palatino-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Palatino', serif;
    font-size: 14px;
}

