@font-face {
    font-family: 'Inconsolata UltraExpandedMedium';
    src: url('Inconsolata-UltraExpandedMedium.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraExpandedBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedExtraLight';
    src: url('Inconsolata-UltraExpandedExtraLight.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedLight';
    src: url('Inconsolata-UltraExpandedLight.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedBlack';
    src: url('Inconsolata-UltraExpandedBlack.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedExtraBold';
    src: url('Inconsolata-UltraExpandedExtraBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedSemiBold';
    src: url('Inconsolata-UltraExpandedSemiBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Regular.woff2') format('woff2'),
        url('Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraExpandedRegular.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

