@font-face {
    font-family: 'Stencil';
    src: url('Stencil.woff2') format('woff2'),
        url('Stencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

